html
  head
    title WebRTC Chat
    link(rel='stylesheet', type='text/css', href='/css/app.css')

  body
    h1 WebRTC Chat
    block content
    button(id='on') Lights on
    button(id='off') Lights off
    input(type='range', id='brightness', min=0, max=255, value=255)
    script(src='/javascripts/app.js')
