html
  head
    title WebRTC Chat
    link(rel='stylesheet', type='text/css', href='/css/app.css')

  body
    h1 WebRTC Chat
    block content
    button Toggle Lights
    script(src='/javascripts/app.js')
