html
  head
    title WebRTC Chat
    link(rel='stylesheet', type='text/css', href='/css/app.css')

  body
    h1 WebRTC Chat
    block content
    button(id='on') Lights on
    button(id='off') Lights off
    script(src='/javascripts/app.js')
